{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The rotation of Earth really makes my day.</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body class = "card-panel teal grey darken-3">
<nav class = 'grey darken-4'>
    <div class="container nav-wrapper ">
        <a href="/" class="brand-logo">What if there were no hypothetical questions?</a>
        <ul id="nav-mobile" class="right">
            <li><a href="/blog">blog</a></li>
            <li><a href="/">Home</a></li>

        </ul>
    </div>
</nav>

<div class="container">

    {% block content %}

    {% endblock content %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


</body>
</html>